[submodule "software/QuickButton"]
	path = software/QuickButton
	url = https://github.com/Leczok12/QuickButton.git
[submodule "software/lib/QuickButton"]
	path = software/lib/QuickButton
	url = https://github.com/Leczok12/QuickButton.git
